.menu {
    background-color: var(--light-yellow);
    position: absolute;
    top: 100%;
    left: 100%;
    right: 0;
    transition: left 0.3s ease-in-out;
}

.menu.active {
    left: 0;
}

.menu-btn {
    display: none;
}

.menu-btn.active {
    display: flex;
}

/* Languages */
.language {
    padding-inline: 18px;
    padding-block: 14px;
}

.french {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    letter-spacing: 0.02em;
    margin-right: 12px;
}

.english {
    border: 1px solid var(--yellow);
    cursor: pointer;
}

/* List */
.menu-container ul {
    padding-inline-start: 0;
}

.menu-container ul:first-child {
    border-top: 1px solid var(--yellow);
    /* color: var(--brown); */
    /* font-family: "OpenSauceSansBold";
    font-weight: 700; */
}

.menu li {
    list-style-type: none;
}

.menu-container a {
    text-decoration: none;
    color: var(--light-black);
}

.menu a:hover {
    color: var(--gray-dark);
}

.nav-item {
    font-family: "OpenSauceSansRegular";
    font-weight: 400;
    font-size: 22px;
    line-height: 13px;
    letter-spacing: 0.02em;
    color: var(--light-black);
    border-bottom: 1px solid var(--yellow);
    padding-block: 17px;
}

.nav-item:first-child {
    display: flex;
}

#solutions-item {
    font-family: "OpenSauceSansBold";
    font-weight: 700;
    color: var(--brown);
    margin-left: 10px;
}
