@import url("assets/styles/colors.css");
@import url("assets/styles/utilities.css");

body {
    --color: var(--brown);
    color: var(--color);
    font-family: "OpenSauceSansRegular";
}

.solutions {
    padding-block-end: 50px;
}

/*
    All except first
    * + * 
    :not(:first-child)
*/
.solutions > :not(:first-child) {
    margin-inline: 24px;
    margin-block: 14px;
}

.header {
    --background-color: var(--white);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    padding-block: 0.6em;
    padding-inline: 1em;
    z-index: 1;
    position: relative;
}

.btn {
    --background-color: var(--yellow);
    background-color: var(--background-color);
    border-radius: 12px;
    padding-block: 16px; /* 1.231em */
    padding-inline: 24px; /* 1.846em */

    font-size: 13px;
    line-height: 22px;

    /* font-size: clamp(0.75rem, 0.75vw + 0.25rem, 0.9rem); */
    font-family: "OpenSauceSansExtraBold";
    font-weight: 800;

    text-align: center;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.btn-green {
    --background-color: var(--green);
}

.header .btn:first-of-type {
    margin-left: auto;
}

.worker-container {
    max-height: min(320px, 90vw);
}

.worker {
    display: block;
    position: relative;
    top: -75px;
    right: -5px;
    margin-left: auto;
    /* transform: translate(5px, -75px); */
}

.subtitle {
    font-family: "OpenSauceSansBlack";
    font-weight: 900;
    font-size: 15px;
    line-height: 28px;
}

.description {
    font-size: 14px;
    line-height: 30px;
}

.worker-2 {
    margin: 0 !important;
}

.union-icon {
    transform: translate(-16px, 22px);
}

.advantages {
    color: var(--white);
    overflow: hidden;
    /* background-image: url("assets/images/Fond.png"); */
}

.informative-icon {
    position: absolute;
    top: -70px;
    left: -55px;
}

.slider-container {
    position: relative;
    padding: 80px 36px;
    border: 1px solid var(--gray-main);
    border-radius: 12px;
    margin-inline: 49px;
    margin-block: 30px;
}

.slider-btn-group {
    position: absolute;
    right: -52px;
    bottom: -85px;
}

.pagination {
    position: absolute;
    bottom: -20px;
    left: -8px;
    letter-spacing: 0.3em;
}

.devices {
    position: absolute;
    width: 88%;
    left: 50%;
    transform: translate(-50%, 32%);
}

.fond-container {
    /* 370px; */
    max-height: 95vw;
    position: relative;
    transform: translateY(-5%);
}

