@import url("styles/index.css");

body {
    --background-color: var(--gray-light);
    background-color: var(--background-color);
    --color: var(--brown);
    color: var(--color);
    font-family: "OpenSauceSansRegular";
}

.header {
    --background-color: var(--white);
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    padding-inline: 0.5em;
    z-index: 1;
    position: relative;
}

.header a {
    text-decoration: none;
}

.logo-container {
    flex-basis: 50%;
    padding-inline: 1em;
}

.btn {
    --background-color: var(--yellow);
    background-color: var(--background-color);
    border-radius: 12px;
    padding-block: 16px; /* 1.231em */
    padding-inline: 24px; /* 1.846em */

    font-size: 13px;
    line-height: 22px;

    /* font-size: clamp(0.75rem, 0.75vw + 0.25rem, 0.9rem); */
    font-family: "OpenSauceSansExtraBold";
    font-weight: 800;

    text-align: center;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.btn-green {
    --background-color: var(--green);
}

.solutions,
.about {
    padding-block-end: 2rem;
}

/*
    All except first
    * + * 
    :not(:first-child)
*/
.solutions-description > *,
.about-description > * {
    margin-inline: 24px;
    margin-block: 14px;
}

.worker-container {
    max-height: min(320px, 90vw);
}

.worker {
    display: block;
    position: relative;
    top: -75px;
    right: -5px;
    margin-left: auto;
    content: url(assets/images/worker-mobile.png);
}

.subtitle {
    font-family: "OpenSauceSansBlack";
    font-weight: 900;
    font-size: 15px;
    line-height: 28px;
}

.description {
    font-size: 14px;
    line-height: 30px;
}

.worker2-container {
   
    padding-block: 50px;
}

.worker2 {
    margin: 0 !important;
    content: url(assets/images/worker2.png);
}

.worker2-shadow {
    display: none;
}

.union-icon {
    transform: translate(-16px, 22px);
}

.advantages {
    color: var(--white);
    overflow: hidden;
}

.informative-icon {
    position: absolute;
    top: -70px;
    left: -55px;
}

/* Slider */

.slider-container {
    position: relative;
    padding: 80px 36px;
    border: 1px solid var(--gray-main);
    border-radius: 12px;
    margin-inline: 49px;
    margin-block: 30px;
}

.slider-btn-group {
    position: absolute;
    bottom: -24px;
    right: -30px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 1em 1.5em;
}

.slider-btn-group > * {
    display: inherit;
}

:is(.next, .previous, .separator) {
    margin-block: 0.7em;
    margin-inline: 0.5em;
    width: 10px;
    aspect-ratio: 1 / 1;
}

.previous-btn,
.next-btn {
    cursor: pointer;
    border-radius: 50%;
}

.previous-btn:hover,
.next-btn:hover {
    background-color: rgb(19, 54, 24);
}

.pagination {
    position: absolute;
    bottom: -20px;
    left: -8px;
    letter-spacing: 0.3em;
}

.devices {
    position: absolute;
    width: 88%;
    left: 50%;
    transform: translate(-50%, 32%);
}

.fond-container {
    /* 370px; */
    max-height: 95vw;
    position: relative;
    transform: translateY(-5%);
}

@media only screen and (min-width: 701px) {
    .logo-container {
        display: flex;
        justify-content: center;
        flex-basis: 25%;
        max-width: 300px;
    }

    .header {
        --background-color: var(--gray-light);
        padding-inline: 0;
    }

    .solutions {
        display: flex;
        flex-direction: row-reverse;
        padding-left: min(5%, 5rem);
    }

    .worker-container {
        flex-basis: 60%;
    }

    .worker {
        content: url(assets/images/worker-laptop.png);
    }

    .solutions-description {
        flex-basis: 40%;
        margin-inline: 0;
        margin-block: 2.5em;
    }

    .about {
        display: flex;
        gap: 8%;
        padding-inline-end: 7%;
    }

    .worker2-container {
        flex-basis: 50%;
        position: relative;
        top: 6rem;
        padding-block: 0;
    }

    .worker2 {
        content: url(assets/images/worker2-laptop.png);
        position: relative;
        z-index: 2;
        position: relative;
    }

    .worker2-shadow {
        --shadow-space: 30px;
        top: var(--shadow-space);
        bottom: calc(-1 * var(--shadow-space));
        left: 0;
        right: calc(-1 * var(--shadow-space));

        position: absolute;
        background-color: var(--white);
        border-radius: 12px;
        z-index: 1;
        display: block;
    }

    .about-description {
        flex-basis: 50%;
    }

    .solutions-description > *,
    .about-description > * {
        margin-inline: 0;
    }
}
