:root {
    --white: #ffffff;
    --gray-light: #fffaf6;
    --gray-main: #BEBAB6;
    --gray-dark: #2d2d2d;
    --yellow: #fbcc0b;
    --green: #4fa67c;
    --brown: #463a2f;
    --light-black: #666462;
}
