.px-24 {
    padding-inline: 24px;
}

.pt-16 {
    padding-block-start: 16px;
}

.pt-50 {
    padding-block-start: 50px;
}

.pb-24 {
    padding-bottom: 24px;
}

.py-16 {
    padding-block: 16px;
}

.py-42 {
    padding-block: 42px;
}

.py-50 {
    padding-block: 50px;
}

.px-2{
    padding-inline:2px
}


.px-24{
    padding-inline:24px
}

.mx-10 {
    margin-inline: 10px;
}

.mx-12 {
    margin-inline: 12px;
}

.mx-24 {
    margin-inline: 24px;
}

.my-14 {
    margin-block: 14px;
}

.my-16 {
    margin-block: 16px;
}

.my-64 {
    margin-block: 64px;
}

.mt-64 {
    margin-block-start: 64px;
}

.mb-48 {
    margin-block-end: 48px;
}

.mb-24 {
    margin-block-end: 24px;
}

.mt-50 {
    margin-top: 50px;
}

.w-full {
    width: 100%;
}

.text-green {
    color: var(--green);
}

.text-brown {
    color: var(--brown);
}

.text-yellow {
    color: var(--yellow);
}

.text-light-black {
    color: var(--light-black);
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.ff-avenir-light {
    font-family: Avenir, "Century Gothic", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ff-oss-bold {
    font-family: "OpenSauceSansBold";
    font-weight: 700;
}

.ff-oss-extra-bold {
    font-family: "OpenSauceSansExtraBold";
    font-weight: 800;
}

.ff-oss-semi-bold {
    font-family: "OpenSauceSansSemiBold";
    font-weight: 600;
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.overflow-hidden {
    overflow: hidden;
}

/* btn */
.text-xxs {
    font-size: 9px;
    line-height: 10px;
}

.text-xs {
    font-size: 13px;
    line-height: 14px;
}

.text-2xs {
    font-size: 13px;
    line-height: 22px;
}

.text-sm {
    font-size: 15px;
    line-height: 28px;
}

.text-base {
    font-size: 18px;
    line-height: 32px;
}

.text-lg {
    font-size: 22px;
    line-height: 35px;
}

.text-xl {
    font-size: 28px;
    line-height: 39px;
}

.text-center {
    text-align: center;
}

.circle {
    --border-radius: 50%;
    border-radius: var(--border-radius);
    display: inline-block;
    aspect-ratio: 1 / 1;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.gap-0\.5 {
    gap: 0.5em;
}
