/* Menu-laptop */
.menu-laptop {
    justify-content: center;
    padding-inline: 1em;
}

.menu-laptop nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-laptop ul {
    padding-inline: 1em;
}

.menu-laptop a {
    color: var(--brown);
}

.menu-laptop a:hover {
    color: var(--light-black);
}

.nav-item-laptop {
    color: var(--light-black);
    display: inline;
    padding: 0.5em;
}

.check {
    cursor: pointer;
}

.check:hover {
    background-color: var(--yellow-light);
}
